@import url('https://fonts.googleapis.com/css2?family=Eczar:wght@400;700&display=swap');

body {
    background-color: #1c1e26;
    color: whitesmoke;
    text-align: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

h1 {
    font-family: 'Eczar', serif;
    font-size: 68px;
    font-weight: 700;
}

a {
    color: #e95378;
}

p, figcaption, footer {
    font-family: 'Eczar', serif;
    font-weight: 400;
    padding: 15px 0px 15px 0px;
}

footer {
    display: block;
    padding: 50px 0px 50px 0px;
    background-color: hsl(235, 14%, 10%);
}

#main {
    width: 100%;
}

#img-div {
    padding: 20px 0px 20px 0px;
    background-color: hsl(235, 14%, 15%);
}

#image {
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin: 0 auto;
}

#tribute-info {
    padding: 0px 50px 0px 50px;
}